<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-05-18T03:43:53Z</date>
	<key>WorkspacePath</key>
	<string>/Users/vil/Development/ios/WebViewGold_iOS_13.7/wsa/WebViewGold.xcworkspace</string>
</dict>
</plist>
